#carousel{
    width: 700px;
    height: 400px;
    margin: 20px auto;
    position: relative;
}
#carousel .gallery{
    height: 100%;
}
#carousel .gallery img{
 height: 100%;
 width: 100%;
 border-radius: 5px;
 object-fit: cover;
 display: none;
}

#carousel .gallery .active{
    display: block;
}

/* bottoni */
#carousel .bi{
    font-size: 2rem;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
#prev{
    right: 105%;
}

#next{
    left: 105%;
}